*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body {
    font-family: sans-serif;
    background-image: url(./img/background-milan.png);
    background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 46px;
    padding-bottom: 17px;
}

.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo-link:hover {
    filter: invert(46%) sepia(96%) saturate(1709%) hue-rotate(5deg) brightness(107%) contrast(107%);
}

.logo-link-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.logo-link-text span {
    font-size: 29px;
    line-height: 29px;
}

.contacts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: end;
}

.contacts-link {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts-link:hover {
    filter: invert(46%) sepia(96%) saturate(1709%) hue-rotate(5deg) brightness(107%) contrast(107%);
}

.contacts-link-second {
    width: 146px;
    height: 21px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.contacts-link-second:hover {
    filter: invert(46%) sepia(96%) saturate(1709%) hue-rotate(5deg) brightness(107%) contrast(107%);
}

.navbar-menu-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1030px;
    height: 560px;
    list-style-type: none;
    padding-left: 0;
}

.navbar-menu-item-img {
    position: relative;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    min-width: 260px;
    max-width: 300px;
    max-height: 220px;
}

.navbar-menu-item-link-img {
    object-fit: cover;
    object-position: center;
}

.sliding-panel-subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}



.sliding-panel-subtitle:hover {
    filter: invert(46%) sepia(96%) saturate(1709%) hue-rotate(5deg) brightness(107%) contrast(107%);
}


.navbar-menu-item:hover .sliding-panel{
    display: flex;
}
.sliding-panel {
    display: none;
    justify-content: space-around;
    position: absolute;
    align-items: end;
    padding-top: 7px;
    padding-bottom: 12px;
    width: 300px;
    bottom: 0;

    transform: translate3d(0, 100%);
    transition: transform 1s;
    background-color: #F26522;
}

.sliding-panel-text {
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.sliding-panel-text span {
    font-size: 20px;
    line-height: 20px;
}

.sliding-panel-link {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.sliding-panel-link::after {
    content: '';
    margin-left: 16px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.navbar-menu-item:hover {
    transform: translate3d(0, 0, 0);
}

.sliding-panel {
    transform: translate3d(0, 0, 0);
}

.navbar-menu-item:hover p,
.navbar-menu-item:hover a {
    transform: translate3d(0, 0, 0);
}

.footer {
    padding-bottom: 15px;
    padding-top: 25px;
    text-align: center;
}

.footer-text {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 49px;
}